variables:
  # Versions of components used for integration tests
  MENDER_REV: "master"
  META_MENDER_REV: "master"
  POKY_REV: "kirkstone"
  MENDER_QA_REV: "master"
  MENDER_ARTIFACT_REV: "master"
  MENDER_CONDUCTOR_REV: "master"
  MENDER_CONDUCTOR_ENTERPRISE_REV: "master"
  IOT_MANAGER_REV: "master"
  MENDER_AUTH_AZURE_IOT_REV: "master"
  DEPLOYMENTS_REV: "master"
  DEPLOYMENTS_ENTERPRISE_REV: "master"
  DEVICEAUTH_REV: "master"
  DEVICEAUTH_ENTERPRISE_REV: "master"
  GUI_REV: "master"
  INVENTORY_REV: "master"
  INVENTORY_ENTERPRISE_REV: "master"
  USERADM_REV: "master"
  USERADM_ENTERPRISE_REV: "master"
  MENDER_API_GATEWAY_DOCKER_REV: "master"
  MENDER_CLI_REV: "master"
  INTEGRATION_REV: "master"
  TENANTADM_REV: "master"
  WORKFLOWS_REV: "master"
  WORKFLOWS_ENTERPRISE_REV: "master"
  CREATE_ARTIFACT_WORKER_REV: "master"
  MENDER_STRESS_TEST_CLIENT_REV: "master"
  META_OPENEMBEDDED_REV: "kirkstone"
  META_RASPBERRYPI_REV: "kirkstone"
  AUDITLOGS_REV: "master"
  MTLS_AMBASSADOR_REV: "master"
  DEVICECONNECT_REV: "master"
  MENDER_CONNECT_REV: "master"
  DEVICECONFIG_REV: "master"
  DEVICEMONITOR_REV: "master"
  MONITOR_CLIENT_REV: "master"
  REPORTING_REV: "master"
  MENDER_GATEWAY_REV: "master"
  GENERATE_DELTA_WORKER_REV: "master"
  MENDER_CI_WORKFLOWS_REV: "master"

  # Versions of independent components
  MENDER_BINARY_DELTA_VERSION: "latest"
  MENDER_CONFIGURE_MODULE_VERSION: "latest"

  # Build stage
  BUILD_CLIENT: "true"
  BUILD_SERVERS: "true"

  # Client test stage
  BUILD_QEMUX86_64_UEFI_GRUB: "true"
  TEST_QEMUX86_64_UEFI_GRUB: "true"
  BUILD_QEMUX86_64_BIOS_GRUB: "true"
  TEST_QEMUX86_64_BIOS_GRUB: "true"
  BUILD_QEMUX86_64_BIOS_GRUB_GPT: "true"
  TEST_QEMUX86_64_BIOS_GRUB_GPT: "true"
  BUILD_VEXPRESS_QEMU_UBOOT_UEFI_GRUB: "true"
  TEST_VEXPRESS_QEMU_UBOOT_UEFI_GRUB: "true"
  BUILD_VEXPRESS_QEMU: "true"
  TEST_VEXPRESS_QEMU: "true"
  BUILD_VEXPRESS_QEMU_FLASH: "true"
  TEST_VEXPRESS_QEMU_FLASH: "true"
  BUILD_BEAGLEBONEBLACK: "true"
  BUILD_RASPBERRYPI3: "false"
  BUILD_RASPBERRYPI4: "false"
  SPECIFIC_ACCEPTANCE_TEST: ""

  # Integration and backend integration tests
  RUN_BACKEND_INTEGRATION_TESTS: "true"
  RUN_INTEGRATION_TESTS: "true"
  SPECIFIC_INTEGRATION_TEST: ""

  # Parallel factor for tests
  TESTS_IN_PARALLEL_INTEGRATION: "4"
  TESTS_IN_PARALLEL_BACKEND_INTEGRATION: "2"
  TESTS_IN_PARALLEL_CLIENT_ACCEPTANCE: "2"

  # Child pipelines build and test
  MENDER_CONVERT_REV: "master"
  MENDER_DIST_PACKAGES_REV: "master"
  BUILD_MENDER_DIST_PACKAGES: "false"
  BUILD_MENDER_CONVERT: "false"
  TEST_MENDER_DIST_PACKAGES: "false"
  TEST_MENDER_CONVERT: "false"

  # Publication
  PUBLISH_DOCKER_CLIENT_IMAGES: "false"
  PUBLISH_RELEASE_AUTOMATIC: "false"

  # Nightly build marker
  NIGHTLY_BUILD: "false"

  # Debugging options
  WAIT_IN_STAGE_INIT: ""
  WAIT_IN_STAGE_BUILD: ""
  WAIT_IN_STAGE_TEST: ""

include:
  - local: "/gitlab-pipeline/internal-variables.yml"
  - project: "Northern.tech/Mender/mendertesting"
    file: ".gitlab-ci-check-commits-signoffs.yml"
  - local: "/gitlab-pipeline/shared/build_and_test_acceptance.yml"
  - local: "/gitlab-pipeline/stage/pre.yml"
  - local: "/gitlab-pipeline/stage/init.yml"
  - local: "/gitlab-pipeline/stage/build.yml"
  - local: "/gitlab-pipeline/stage/yocto-build-n-test.yml"
  - local: "/gitlab-pipeline/stage/test.yml"
  - local: "/gitlab-pipeline/stage/publish-tests.yml"
  - local: "/gitlab-pipeline/stage/trigger-packages.yml"
  - local: "/gitlab-pipeline/stage/trigger-images.yml"
  - local: "/gitlab-pipeline/stage/release.yml"
  - local: "/gitlab-pipeline/stage/post.yml"

stages:
  # .pre and .post have no effect and are only for documentation purposes. .pre
  # and .post stages run at the very start and very end of a pipeline,
  # regardless of where they are defined.
  - .pre
  - init
  - build
  - yocto:build-n-test
  - test
  - publish:tests
  - release
  - trigger:packages
  - trigger:images
  - .post
