variables:

  # Mender Client LTS. Subcomponents listed here:
  # https://docs.mender.io/release-information/supported-releases#mender-client-subcomponents
  MENDER_REV:
    value: "master"
    description: |-
      Version of mender
  MENDER_CONNECT_REV:
    value: "master"
    description: |-
      Version of mender-connect
  MENDER_CONFIGURE_MODULE_REV:
    value: "master"
    description: |-
      Version of mender-configure-module
  MONITOR_CLIENT_REV:
    value: "master"
    description: |-
      Version of monitor-client
  # MEN-5268 TODO: Support fetching and testing mender-binary-delta master
  MENDER_BINARY_DELTA_VERSION:
    value: "latest"
    description: |-
      Version of mender-binary-delta to be fetched from S3. It must be a tag or "latest"
  MENDER_FLASH_REV:
    value: "master"
    description: |-
      Version of mender-flash
  MENDER_CONTAINER_MODULES_REV:
    value: "main"
    description: |-
      Version of mender-container-modules

  # Mender Gateway LTS
  MENDER_GATEWAY_REV:
    value: "latest"
    description: |-
      Version of mender-gateway

  # Yocto repositories
  META_MENDER_REV:
    value: "master"
    description: |-
      Version of meta-mender
  POKY_REV:
    value: "scarthgap"
    description: |-
      Version of poky
  META_OPENEMBEDDED_REV:
    value: ${POKY_REV}
    description: |-
      Version of meta-openembedded
  META_VIRTUALIZATION_REV:
    value: ${POKY_REV}
    description: |-
      Version of meta-virtualization
  META_RASPBERRYPI_REV:
    value: ${POKY_REV}
    description: |-
      Version of meta-raspberrypi. Only applicable for kirkstone or older

  # This repository
  # This variable is used only for status reports, as it is "check out" by GitLab already
  MENDER_QA_REV:
    value: "master"
    description: |-
      Version of mender-qa

  # Versions of independent components
  MENDER_ARTIFACT_REV:
    value: "latest"
    description: |-
      Version of mender-artifact
  MENDER_SETUP_REV:
    value: "latest"
    description: |-
      Version of mender-setup
  MENDER_SNAPSHOT_REV:
    value: "latest"
    description: |-
      Version of mender-snapshot

  # Repository revision to run the integration tests from
  INTEGRATION_REV:
    value: "master"
    description: |-
      Version of integration

  # Build Virtual Device(s)
  BUILD_CLIENT:
    value: "true"
    description: |-
      Flag to build client for integration tests. False means use prebuilt client from upstream

  # Client Acceptance tests
  BUILD_QEMUX86_64_UEFI_GRUB:
    value: "true"
    description: |-
      Flag to build configuration QEMUX86_64_UEFI_GRUB. Applicable for client acceptance tests
  TEST_QEMUX86_64_UEFI_GRUB:
    value: "true"
    description: |-
      Flag to test configuration QEMUX86_64_UEFI_GRUB. Applicable for client acceptance tests
  BUILD_QEMUX86_64_BIOS_GRUB:
    value: "true"
    description: |-
      Flag to build configuration QEMUX86_64_BIOS_GRUB. Applicable for client acceptance tests
  TEST_QEMUX86_64_BIOS_GRUB:
    value: "true"
    description: |-
      Flag to test configuration QEMUX86_64_BIOS_GRUB. Applicable for client acceptance tests
  BUILD_QEMUX86_64_BIOS_GRUB_GPT:
    value: "true"
    description: |-
      Flag to build configuration QEMUX86_64_BIOS_GRUB_GPT. Applicable for client acceptance tests
  TEST_QEMUX86_64_BIOS_GRUB_GPT:
    value: "true"
    description: |-
      Flag to test configuration QEMUX86_64_BIOS_GRUB_GPT. Applicable for client acceptance tests
  BUILD_VEXPRESS_QEMU_UBOOT_UEFI_GRUB:
    value: "true"
    description: |-
      Flag to build configuration VEXPRESS_QEMU_UBOOT_UEFI_GRUB. Applicable for client acceptance tests
  TEST_VEXPRESS_QEMU_UBOOT_UEFI_GRUB:
    value: "true"
    description: |-
      Flag to test configuration VEXPRESS_QEMU_UBOOT_UEFI_GRUB. Applicable for client acceptance tests
  BUILD_VEXPRESS_QEMU:
    value: "true"
    description: |-
      Flag to build configuration VEXPRESS_QEMU. Applicable for client acceptance tests
  TEST_VEXPRESS_QEMU:
    value: "true"
    description: |-
      Flag to test configuration VEXPRESS_QEMU. Applicable for client acceptance tests
  BUILD_VEXPRESS_QEMU_FLASH:
    value: "true"
    description: |-
      Flag to build configuration VEXPRESS_QEMU_FLASH. Applicable for client acceptance tests
  TEST_VEXPRESS_QEMU_FLASH:
    value: "true"
    description: |-
      Flag to TEST_ configuration VEXPRESS_QEMU_FLASH. Applicable for client acceptance tests
  BUILD_BEAGLEBONEBLACK:
    value: "true"
    description: |-
      Flag to build configuration BEAGLEBONEBLACK. Applicable for client acceptance tests
  BUILD_RASPBERRYPI3:
    value: "false"
    description: |-
      Flag to build configuration RASPBERRYPI3. Applicable for client acceptance tests
  BUILD_RASPBERRYPI4:
    value: "false"
    description: |-
      Flag to build configuration RASPBERRYPI4. Applicable for client acceptance tests
  SPECIFIC_ACCEPTANCE_TEST:
    value: ""
    description: |-
      Specify a subsets of tests to run. Applicable for client acceptance tests

  # Parallel factor for tests
  TESTS_IN_PARALLEL_CLIENT_ACCEPTANCE:
    value: "2"
    description: |-
      Set the parallel factor for client acceptance tests

  # Child pipelines build and test
  MENDER_DIST_PACKAGES_REV:
    value: "master"
    description: |-
      Version of mender-dist-packages
  BUILD_MENDER_DIST_PACKAGES:
    value: "false"
    description: |-
      Flag to trigger child pipeline mender-dist-packages
  TEST_MENDER_DIST_PACKAGES:
    value: "false"
    description: |-
      Flag to run tests in child pipeline mender-dist-packages
  RUN_INTEGRATION_TESTS:
    value: "true"
    description: |-
      Flag to run tests trigger child pipeline for integration tests

  # Publication
  PUBLISH_DOCKER_CLIENT_IMAGES:
    value: "false"
    description: |-
      Flat to publish Docker client images
  PUBLISH_RELEASE_AUTOMATIC:
    value: "false"
    description: |-
      Flag to publish all deliverables automatically. Publishes Docker images and binaries

  # Nightly build marker
  NIGHTLY_BUILD:
    value: "false"
    description: |-
      Marker to identify nightly builds

  # Debugging options
  WAIT_IN_STAGE_INIT:
    value: ""
    description: |-
      Marker to make the CI machines wait in stage INIT for remote debugging
  WAIT_IN_STAGE_BUILD:
    value: ""
    description: |-
      Marker to make the CI machines wait in stage BUILD for remote debugging
  WAIT_IN_STAGE_TEST:
    value: ""
    description: |-
      Marker to make the CI machines wait in stage TEST for remote debugging

include:
  - local: "/gitlab-pipeline/internal-variables.yml"
  - project: "Northern.tech/Mender/mendertesting"
    file: ".gitlab-ci-check-commits-signoffs.yml"
  - local: "/gitlab-pipeline/shared/build_and_test_acceptance.yml"
  - local: "/gitlab-pipeline/stage/pre.yml"
  - local: "/gitlab-pipeline/stage/init.yml"
  - local: "/gitlab-pipeline/stage/build.yml"
  - local: "/gitlab-pipeline/stage/yocto-build-n-test.yml"
  - local: "/gitlab-pipeline/stage/trigger-packages.yml"
  - local: "/gitlab-pipeline/stage/trigger-integration.yml"
  - local: "/gitlab-pipeline/stage/release.yml"
  - local: "/gitlab-pipeline/stage/post.yml"

default:
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

stages:
  # .pre and .post have no effect and are only for documentation purposes. .pre
  # and .post stages run at the very start and very end of a pipeline,
  # regardless of where they are defined.
  - .pre
  - init
  - build
  - yocto:build-n-test
  - test
  - trigger:packages
  - trigger:images
  - trigger:integration
  - release
  - .post
