[Unit]
Description=Check for update on KVM image.

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash /etc/gitlab-runner/update-gcloud-image/update-image.sh
Group=systemd-journal
